body {
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  width: 400px;
}

.breed-select {
  margin: 0 auto;
  margin-bottom: 20px;
}

.loader {
  margin: 100px auto;
  text-align: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff4d00;
  box-shadow: 32px 0 #ff4d00, -32px 0 #ff4d00;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #ff4d00;
  }
  50% {
    background-color: #ff4d00;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #ff4d00, -32px 0 #fff2;
  }
}

.is-hidden {
  display: none;
}
